<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="6.0.1" targetFramework="net461" />
  <package id="BotTimeUI.Common" version="1.1.2010.5-pre-20201110-213520" targetFramework="net461" />
  <package id="Encoo.Common.UI" version="1.1.2010.5-pre-20201110-213520" targetFramework="net461" />
  <package id="EncooLogInterface" version="1.1.2010.16-pre-20201110-213228" targetFramework="net461" />
  <package id="Logger" version="1.1.2010.16-pre-20201110-213228" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="Panuon.UI.Silver" version="1.0.8.7" targetFramework="net461" />
  <package id="Serilog" version="2.8.0" targetFramework="net461" />
  <package id="Serilog.Settings.AppSettings" version="2.2.2" targetFramework="net461" />
  <package id="Serilog.Sinks.File" version="4.0.0" targetFramework="net461" />
  <package id="Serilog.Sinks.RollingFile" version="3.3.0" targetFramework="net461" />
  <package id="XamlAnimatedGif" version="1.2.2" targetFramework="net461" />
</packages>