<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="superSocket" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <!--配置SocketServer路径-->
  <superSocket>
    <servers>
      <server name="MySocket" textEncoding="gb2312"
              serverType="SuperSocketDemo1.SocketServer, SuperSocketDemo1"
              ip="Any" port="2018" maxConnectionNumber="100">
      </server>
    </servers>
  </superSocket>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>